/* Complete the challenge by writing CSS below */
.intro {
    font-size: 1.25em;
    line-height: 1.6;
  }
  
  .intro span {
    font-weight: bold;
    font-style: italic;
  }
  
  a:link {
    text-decoration: none;
  }