/* Complete the challenge by writing CSS below */
.content-lodging {
    float: right;
  }
  
  .content-traveling {
    float: left;
  }
  
  /* Clearfix ---------------------------------- */
  
  .group::after {
    content: "";
    display: table;
    clear: both;
  }