/* Complete the challenge by writing CSS below */

@media (max-width: 1020px) {
    .main-header{
      background: tomato;
      color: white;
    }
  }
  
  @media (max-width: 768px) {
    .title{
      font-size: 1.4rem;
    }
    h1{
      font-size: 5rem;
    }
  }
  