/* Complete the challenge by writing CSS below */
.main-header {
    background-color: orange;
  }
  
  .main-heading {
    font-size: 72px;
  }
  
  #main-content {
    background-color: lightsteelblue;
  }